<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Dev" value="DataFiles\Orders_10112015.txt"/>
    <add key="Prod" value="DataFiles\Orders_10012015.txt"/>
  </appSettings>
</configuration>